[project]
	description = Chinese phone location lib for common usage.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Cytown (cytown)
[access "refs/for/refs/*"]
	read = group user/Cytown (cytown)
	push = group user/Cytown (cytown)
	label-Code-Review = -2..+2 group user/Cytown (cytown)
	label-Verified = -1..+1 group user/Cytown (cytown)
	rebase = group user/Cytown (cytown)
	removeReviewer = group user/Cytown (cytown)
	submit = group user/Cytown (cytown)
[access "refs/heads/*"]
	read = group user/Cytown (cytown)
	create = group user/Cytown (cytown)
	push = +force group user/Cytown (cytown)
	pushMerge = group user/Cytown (cytown)
[access "refs/tags/*"]
	push = +force group user/Cytown (cytown)
	pushTag = group user/Cytown (cytown)
	pushSignedTag = group user/Cytown (cytown)
